<ion-view style="background-color: rgb(45, 40, 45);" id="page5" title="Cadastro">
  <ion-content class="has-header" padding="true">
    <form class="list" id="cadastro-form2">
      <h4 style="color: rgb(255, 255, 255);" id="cadastro-heading12">Nome do Caminhoneiro</h4>
      <ion-list id="cadastro-list3">
        <label id="cadastro-input3" class="item item-input">
          <span class="input-label">Digite seu Nome Completo</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <h4 style="color: rgb(255, 255, 255);" id="cadastro-heading35">Email</h4>
      <label id="cadastro-input5" class="item item-input">
        <span class="input-label">Digite seu Email</span>
        <input placeholder="" type="email">
      </label>
      <h4 style="color: rgb(255, 255, 255);" id="cadastro-heading16">CNH</h4>
      <label id="cadastro-input22" class="item item-input">
        <span class="input-label">Digite o sua CNH</span>
        <input placeholder="" type="text">
      </label>
      <h4 style="color: rgb(255, 255, 255);" id="cadastro-heading17">Senha</h4>
      <label id="cadastro-input23" class="item item-input">
        <span class="input-label">Digite sua Senha</span>
        <input placeholder="" type="text">
      </label>
      <h4 style="color: rgb(255, 255, 255);" id="cadastro-heading23">Confirma Senha</h4>
      <label id="cadastro-input24" class="item item-input">
        <span class="input-label">Digite novamente sua Senha</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <a class="button button-balanced button-block" id="cadastro-button29" ui-sref="login()">Confirmar </a>
  </ion-content>
</ion-view>