<ion-view style="" id="page10" title="Login">
  <ion-content class="has-header" padding="true">
    <form class="list" id="login-form9">
      <div>
        <img style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;" src="img/pvYLU3BSerLC06xQPTxA_truck-icon.png">
      </div>
      <h4 style="color: rgb(255, 255, 255);" id="login-heading13">Login</h4>
      <ion-list id="login-list6">
        <label id="login-input10" class="item item-input">
          <span class="input-label">Digite seu email</span>
          <input placeholder="" type="email">
        </label>
      </ion-list>
      <h4 style="color: rgb(255, 255, 255);" id="login-heading27">Senha</h4>
      <label id="login-input17" class="item item-input">
        <span class="input-label">Digite sua senha</span>
        <input placeholder="" type="password">
      </label>
      <a class="button button-balanced button-block" id="login-button11" ui-sref="menu.ocorrNcias()">Entrar</a>
      <a class="button button-balanced button-small button-block" id="login-button33" ui-sref="cadastro()">Cadastrar</a>
      <div style="height: 40px;" class="spacer"></div>
    </form>
  </ion-content>
</ion-view>