<ion-view style="background-color: rgb(45, 40, 45);" id="page12" title="Minha Conta">
  <ion-content class="has-header" scroll="false" padding="true">
    <form class="list" id="minhaConta-form8">

      <h4 style="color: rgb(255, 255, 255);" id="minhaConta-heading30">Nome do Caminhoneiro</h4>
      <ion-list id="minhaConta-list5">
        <label id="minhaConta-input25" class="item item-input">
          <span class="input-label">Joaquim Carvalho</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>

      <h4 style="color: rgb(255, 255, 255);" id="minhaConta-heading31">CNH</h4>
      <label id="minhaConta-input26" class="item item-input">
        <span class="input-label">1122233344556677</span>
        <input placeholder="" type="text">
      </label>

    <h4 style="color: rgb(255, 255, 255);" id="minhaConta-heading34">Email</h4>
      <label id="minhaConta-input26" class="item item-input">
        <span class="input-label">jcarvalho@empresa.com</span>
        <input placeholder="" type="email">
      </label>


      <h4 style="color: rgb(255, 255, 255);" id="minhaConta-heading32">Nova Senha</h4>
      <label id="minhaConta-input27" class="item item-input">
        <span class="input-label">***********</span>
        <input placeholder="" type="password">
      </label>

    </form>
    <a class="button button-balanced button-block" id="minhaConta-button31" href-inappbrowser="page4">Editar</a>
    <a class="button button-assertive button-block" id="minhaConta-button32" href-inappbrowser="page4">Salvar</a>
  </ion-content>
</ion-view>
