<ion-view style="background-color: rgb(45, 40, 45);" id="page11" title="Ocorrências">
  <ion-content class="has-header" scroll="false" padding="true">
      <h4 style="color: rgb(255, 240, 240);" id="ocorrNcias-heading29">Selecione uma ocorrência</h4>

      <div class="item item-button-right">
        Jornada 
        <button class="button button-positive">
                <i class="icon ion-android-globe"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Direção Diária 
        <button class="button button-positive">
                <i class="icon ion-android-bus"></i> </button>
      </div>

      <div class="item item-button-right">
       Refeição 
        <button class="button button-positive">
                <i class="icon ion-android-restaurant"></i>
        </button>
      </div>

      <div class="item item-button-right">
       Carga 
        <button class="button button-positive">
                <i class="icon ion-android-clipboard"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Manutenção 
        <button class="button button-positive">
                <i class="icon ion-wrench"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Pernoite 
        <button class="button button-positive">
                <i class="icon ion-home"></i>
        </button>
      </div>

  </ion-content>
</ion-view>

