<ion-view style="background-color: rgb(45, 40, 45);" id="page11" title="Ocorrências">
  <ion-content class="has-header" scroll="false" padding="true">
      <h4 style="color: rgb(255, 240, 240);" id="ocorrNcias-heading29">Selecione uma ocorrência</h4>

      <div class="item item-button-right">
        Jornada 
        <button class="button button-positive"  ng-click="openModalJornada()" >
                <i class="icon ion-android-globe"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Direção Diária 
        <button class="button button-positive"   ng-click="openModalDD()" >
                <i class="icon ion-android-bus"></i> </button>
      </div>

      <div class="item item-button-right">
       Refeição 
        <button class="button button-positive" ng-click="openModalRefeicao()" >
                <i class="icon ion-android-restaurant"></i>
        </button>
      </div>

      <div class="item item-button-right">
       Carga 
        <button class="button button-positive" ng-click="openModalCD()" >
                <i class="icon ion-android-clipboard"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Manutenção 
        <button class="button button-positive" ng-click="openModalManutencao()" >
                <i class="icon ion-wrench"></i>
        </button>
      </div>

      <div class="item item-button-right">
        Pernoite 
        <button class="button button-positive" ng-click="openModalPernoite()" >
                <i class="icon ion-home"></i>
        </button>
      </div>
      </br>



<script id="jornada.html" type="text/ng-template">

<ion-header-bar   class="bar-dark" style="background-color: rgb(67, 61, 61)" ; >
    <div class="buttons">
        <h1 class="title">Jornada</h1>
    </div>
</ion-header-bar>

  <ion-content padding="true" scroll="false" class="has-header" style="background-color: rgb(45, 40, 45)";>
    <button id="jornada-button26" class="button button-balanced button-block" ng-click="insereOcorrenciaLocal('Inicio da Jornada')" >Iniciar Jornada</button>
     </br>
     </br>
     <h1 align="center" id="jornada-heading24" style="color: rgb(255, 247, 247); font-weight: lighter;">{{dia_semana}}</h1>
     <h1 align="center" id="jornada-heading26" style="color: rgb(255, 247, 247); font-weight: lighter;">{{dia}} / {{mes}} / {{ano}}</h1>
     <h2 align="center" id="jornada-heading25" style="color: rgb(255, 247, 247); font-weight: lighter;"> {{relogio}}</h2>
     </br>
     </br>
    <button id="jornada-button27" class="button button-assertive button-block" ng-click="closeModalJornada()" >Finalizar Jornada</button>
  </ion-content>

</script>

<script id="direcao_diaria.html" type="text/ng-template">

<ion-header-bar   class="bar-dark" style="background-color: rgb(67, 61, 61)" ; >
    <div class="buttons">
        <h1 class="title">Direção Diária</h1>
    </div>
</ion-header-bar>

<ion-content padding="true" scroll="false" class="has-header"  style="background-color: rgb(45, 40, 45)" ;>
    <button id="direODiRia-button10" class="button button-balanced button-block"  ng-click="insereOcorrenciaLocal('Inicio da Direção Diária')" >Iniciar Direção</button>
    <button id="descanso-button12" class="button button-balanced button-block"  ng-click="insereOcorrenciaLocal('Inicio do Descanso')" >Fazer Descanso</button>
    <h3 align="center" id="direODiRia-heading6" style="color: rgb(255, 248, 248);">Tempo de Direção</h3>
    <h1 id="direODiRia-heading2" style="color: rgb(255, 255, 255); text-align: center;">2 : 15 : 10</h1>
    <h3 align="center" id="descanso-heading14" style="color: rgb(255, 255, 255);">Tempo de Descanso</h3>
    <h1 id="descanso-heading15" style="color: rgb(255, 253, 253); text-align: center;">00 : 00 : 00</h1>
    <button id="descanso-button13" class="button button-assertive button-block"   ng-click="insereOcorrenciaLocal('Fim do Descanso')" >Finalizar Descanso</button>
    <button id="direODiRia-button7" class="button button-assertive button-block" ng-click="closeModalDD()">Finalizar Direção</button>
</ion-content>

</script>

<script id="refeicao.html" type="text/ng-template">

<ion-header-bar   class="bar-dark" style="background-color: rgb(67, 61, 61)" ; >
    <div class="buttons">
        <h1 class="title">Refeição</h1>
    </div>
</ion-header-bar>

<ion-content padding="true" scroll="false" class="has-header"   style="background-color: rgb(45, 40, 45)"; >
    <button id="refeiO-button8" class="button button-balanced button-block"  ng-click="insereOcorrenciaLocal('Inicio da Direção Diária')" >Iniciar Refeição</button>

    <h3 align="center" id="refeiO-heading8" style="color: rgb(255, 255, 255);">Hora Local </h3>
    <h2 id="refeiO-heading9" style="color: rgb(255, 255, 255); text-align: center;">{{relogio}}</h2>

    </br>


    <button id="refeiO-button9" class="button button-assertive button-block" ng-click="closeModalRefeicao()">Finalizar Refeição</button>
</ion-content>

</script>

<script id="carga_descarga.html" type="text/ng-template">

<ion-header-bar   class="bar-dark" style="background-color: rgb(67, 61, 61)" ; >
    <div class="buttons">
        <h1 class="title">Carga & Descarga</h1>
    </div>
</ion-header-bar>

<ion-content padding="true" scroll="false" class="has-header" style="background-color: rgb(45, 40, 45)"; >

      </br>
      <h4 id="carga-heading20" style="color: rgb(255, 255, 255);">Selecione Qual Modo Iniciar</h4>
      <ion-list>
        <ion-radio ng-model="choice"  ng-click="insereOcorrenciaLocal('Inicio da Carga')"  > Carga</ion-radio>
          <ion-radio ng-model="choice" ng-click="insereOcorrenciaLocal('Inicio da Carga')">Descarga</ion-radio>
       </ion-list>
      </label>

    <button id="carga-button22" class="button button-balanced button-block" ng-click="insereOcorrenciaLocal('Inicio da Direção Diária')" >Iniciar</button>
    <form id="carga-form3" class="list">
      <button id="carga-button23" class="button button-assertive button-block" ng-click="closeModalCD()">Finalizar</button>
    </form>

</ion-content>
</script>


<script id="manutencao.html" type="text/ng-template">

<ion-header-bar   class="bar-dark" style="background-color: rgb(67, 61, 61)" ; >
    <div class="buttons">
        <h1 class="title">Manutenção</h1>
    </div>
</ion-header-bar>


<ion-content padding="true" scroll="false" class="has-header" style="background-color: rgb(45, 40, 45)"; >

    </br>
    <h4 id="carga-heading20" style="color: rgb(255, 255, 255);">Selecione Qual Modo Iniciar</h4>
    <ion-list>
        <ion-radio ng-model="choice" ng-value="Abastecimento"   ng-click="insereOcorrenciaLocal('Inicio Abastecimento')"  >Abastecimento</ion-radio>
        <ion-radio ng-model="choice" ng-value="Fiscalizacao"  ng-click="insereOcorrenciaLocal('Inicio Fiscalizacao')"  >Fiscalização</ion-radio>
    </ion-list>

    <button id="manutenO-button14" class="button button-balanced button-block"  ng-click="insereOcorrenciaLocal('Inicio da Manutenção')" >Iniciar</button>
    <button id="manutenO-button15" class="button button-assertive button-block" ng-click="closeModalManutencao()">Finalizar</button>
</ion-content>

</script>


<script id="pernoite.html" type="text/ng-template">

<ion-header-bar   class="bar-dark" style="background-color: rgb(67, 61, 61)" ; >
    <div class="buttons">
        <h1 class="title">Manutenção</h1>
    </div>
</ion-header-bar>

<ion-content padding="true" scroll="false" class="has-header" style="background-color: rgb(45, 40, 45)"; >

    <button id="jornada-button26" class="button button-balanced button-block" ng-click="insereOcorrenciaLocal('Inicio do Pernoite')" >Iniciar Pernoite</button>
     </br>
     <h1 align="center" id="jornada-heading24" style="color: rgb(255, 247, 247); font-weight: lighter;">{{dia_semana}}</h1>
     <h1 align="center" id="jornada-heading26" style="color: rgb(255, 247, 247); font-weight: lighter;">{{dia}} / {{mes}} / {{ano}}</h1>
     <h2 align="center" id="jornada-heading25" style="color: rgb(255, 247, 247); font-weight: lighter;"> {{relogio}}</h2>
     </br>
    <button id="jornada-button27" class="button button-assertive button-block" ng-click="closeModalPernoite()" >Finalizar Pernoite </button>

</script>



  </ion-content>
</ion-view>



